/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@400;500;600;700&&family=Sigmar&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

/* GERAL */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primeira-fonte: "Foldit", cursive;
  --segunda-fonte: "Source Sans Pro", sans-serif;
  --terceira-fonte: 'Sigmar', cursive;

  --primeira-cor: #00FA9A;
  --segunda-cor: #;
  --terceira-cor: #333333;
  --quarta-cor: #eeeeee;
  --quinta-cor: #444444;
  --sexta-cor: #cccccc;
  --setima-cor: #666666;
  --cor-branca: #ffffff;
  --cor-preta: #000000;
}

body {
  font-family: var(--segunda-fonte);
  font-size: 16px;
  background-color: var(--quarta-cor);
  text-align: justify;
}

main {
  margin: 30px;
}

a {
  user-select: none;
}

.title {
  font-size: 2.5rem;
  letter-spacing: 0.7rem;
  font-weight: 400;
  font-family: var(--terceira-fonte);
  margin-bottom: 20px;
  text-align: center;
  user-select: none;
}

/* CABEÇALHO */
.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}

.logo {
  font-family: var(--primeira-fonte);
  font-size: 6rem;
  text-shadow: 5px 5px 5px var(--cor-preta);
  margin-bottom: 20px;
  user-select: none;
  cursor: grab;
}

.logo:active {
  cursor: grabbing
}

.links__container {
  display: flex;
  list-style: none;
  gap: 50px;
}

.link {
  text-decoration: none;
  color: var(--cor-branca);
  background-image: linear-gradient(120deg, var(--quinta-cor), var(--sexta-cor));
  box-shadow: 5px 5px 4px var(--cor-preta);
  padding: 5px 50px;
  font-size: 1.4rem;
  border-radius: 50px;
}

.link:hover {
  background-image: linear-gradient();
  animation: botaoAnimado 0.7s ease-in-out infinite alternate;
}

@keyframes botaoAnimado {
  from {
    padding: 5px 50px;
  }

  to {
    padding: 5px 65px;
  }
}
/* ViTiMap */
.vitimap__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
}

.vitimap {
  width: 55%;
  text-align: center;
  background-color: var(--sexta-cor);
  padding: 30px 80px;
  box-shadow: 10px 10px 0px var(--cor-preta);
  font-size: 1.2rem;
}

/* ANO */
.anos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

.ano {
  width: 80%;
}

.ano__container {
  background-color: var(--cor-branca);
  margin: 10px;
  padding: 50px 0;
  border-radius: 20px 20px 0px 0px;
  border: 3px dashed #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ano__text {
  font-size: 1.4rem;
}

/* RODAPÉ */
.rodape__copyright {
  padding: 70px 0;
  text-align: center;
  background-color: var(--terceira-cor);
  color: var(--cor-branca);
}
